:root{
  --cor-fundo: #0d0d0d;
  --cor-destaque: #F04095;
    --cor-texto: #FEFEFE;
}

body{
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  color: var(--cor-texto)
}

.apresentacao{
  margin: 10% 15%;
  display: flex;
  align-itens: center;
  justify-content: space-between;
}

strong{
  color: var(--cor-destaque);
}

.apresentacao_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gop: 32px;
}

.apresentacao_links_subtitulo {
  font-family: 'Krone One', sans-serif;
  font-size: 30px;
  font-weight: 600;
}


.apresentacao_links_link{
  border: 2px solid var(--cor-destaque);
  width: 3708px;
  text-align: center;
  color: var(--cor-texto);
  padding: 21.5px;
  border-radius: 8px;
  font-size: 24px;
  fonte-weight: 600;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.foto{
  height: 490px;
}
